@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Raleway:wght@100;200&display=swap');


h1 {
  color: rgb(241, 241, 243);
  font-family: 'Oswald';
  font-size: 60px;
}

body {
  background-color: rgb(4, 4, 41);
  padding-left: 40px;
}

.lampbuttonon {
  font-size: 20px;
  font-family: 'Raleway';
  padding: 10px;
}

.lampbuttonon:hover {
  background-color: rgb(231, 227, 227)
}

.datalabel {
  color:rgb(255, 255, 255);
  font-family: 'Raleway';
}

.lastflip {
  color: rgb(166, 166, 255);
  font-family: 'Oswald';
}

.currentlampstate {
  color: rgb(166, 166, 255);
  font-family: 'Oswald';
  font-size: 20px;
}