@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Raleway:wght@100;200&display=swap');

h1 {
  color: rgb(241, 241, 243);
  font-family: 'Oswald';
  font-size: 60px;
}

h3 {
  color: rgb(241, 241, 243);
  font-family: 'Oswald';
  font-size: 30px;
  margin: 0px;
  margin-bottom: 10px;
}

body {
  background-color: rgb(8, 38, 83);
  padding-left: 40px;
}

.device-container {
  outline: 1px solid white;
  padding: 20px;
}

.lampbutton {
  font-size: 20px;
  font-family: 'Raleway';
  padding: 10px;
}

.lampbutton:disabled {
  background: #999;
  color:#555;
  pointer-events: none;
}

.lampbutton:hover {
  background-color: #CCC;
  cursor: pointer;
}

.datalabel {
  color: rgb(255, 255, 255);
  font-family: 'Raleway';
}

.lastflip {
  color: rgb(166, 166, 255);
  font-family: 'Oswald';
}

.currentlampstate {
  color: rgb(166, 166, 255);
  font-family: 'Oswald';
  font-size: 20px;
}
